body{
    padding:0;
}

input[submit]{
    padding-top: 15rem;
}

.alert-box{
    display: none;
    color:#ffffff;
    text-align: center;
    width:100%;
}

header{
    background: #012468;
    padding: 0;
}
header img{
    height:50px;
    display: inline-block;
}

header h1{
    color:#FFFFFF;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    margin:0;
}
