<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/print"
     method    =  "POST"
>
<label for="fileToPrint">File:</label>
<input type="file" name="fileToPrint" id="file" value="">
<input type="hidden" name="test" value="testvalue">
<label for="netid">Netid:</label>
<input type="text" name="netid" id="text-basic" value="">
<input type="submit" value="Upload Image" name="submit">
</form>